<div class="card flex-grow-1" id="nav-main-content">
  <div class="card-header">
    <ul class="nav nav-tabs nav-fill card-header-tabs">
      {{#each @formats as |format|}}
        <li class="nav-item">
          <LinkTo
            class="nav-link"
            @route="page.banlists"
            @query={{hash format=format.id}}
          >{{format.name}}</LinkTo>
        </li>
      {{/each}}
    </ul>
  </div>
  <div class="card-body">
    {{#each @formats as |format|}}
      {{#if (eq @selectedFormat format.id)}}
        <div id={{format.id}}>
          {{#if format.restrictions}}
            <PanelList
              @showMassToggle="true"
              @showSearch="true"
              @format={{format}}
              as |props actions|
            >
              <Panel
                @title="{{props.r.name}}"
                @subtitle="{{props.r.size}} cards. Start Date: {{props.r.dateStart}}."
                @isOpen={{props.isOpen}}
                @showPanel={{fn actions.showPanel props.r.name}}
                @hidePanel={{fn actions.hidePanel props.r.name}}
              >
                <div class="row">
                  <div class="col-6">
                    <h3>Corp Cards</h3>
                    <ul>
                      <li>
                        <strong>Banned</strong>
                        <ul>
                          {{#each props.r.verdicts.banned as |banned|}}
                            <li>
                              <Card::linkTo
                                @id={{banned}}
                                class="text-truncate"
                              >
                                {{banned}}
                              </Card::linkTo>
                            </li>
                          {{/each}}
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <h3>Runner Cards</h3>
                  </div>
                </div>
              </Panel>
            </PanelList>
          {{else}}
            No cards are currently banned in
            {{format.name}}. Have a blast!
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>