<div class="panel-list">
  {{#if (or @showMassToggle @showSearch @showSort)}}
    <p class="row">
      {{#if @showMassToggle}}
        <button
          class="show-all col-2 btn btn-secondary"
          type="button"
          {{on "click" this.showAll}}
        >Show all</button>
      {{/if}}
      {{#if @showSearch}}
        <div class="panel-search">
          <Input
            @type="text"
            class="form-control"
            placeholder="Search..."
            aria-label="Search"
            @value={{this.query}}
            {{on "input" this.filter}}
          />
        </div>
      {{/if}}
      {{#if @showMassToggle}}
        <button
          class="hide-all col-2 btn btn-secondary"
          type="button"
          {{on "click" this.hideAll}}
        >Hide all</button>
      {{/if}}
      {{#if @showSort}}
        <div class="panel-dropdown dropdown {{if this.isDropdownOpen 'open'}}">
          <button
            class="dropdown-toggle btn btn-light"
            data-toggle="dropdown"
            aria-expanded="{{this.isDropdownOpen}}"
            type="button"
            {{on "click" this.toggleDropdown}}
          >
            Sort
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a
                href="#"
                id="sort-0"
                {{on "click" (fn this.setSortingOrder "name:asc")}}
              >Name (A-Z)</a></li>
            <li><a
                href="#"
                id="sort-1"
                {{on "click" (fn this.setSortingOrder "name:desc")}}
              >Name (Z-A)</a></li>
            <li><a
                href="#"
                id="sort-2"
                {{on "click" (fn this.setSortingOrder "cards:desc")}}
              >Cards (most)</a></li>
            <li><a
                href="#"
                id="sort-3"
                {{on "click" (fn this.setSortingOrder "cards:asc")}}
              >Cards (least)</a></li>
          </ul>
        </div>
      {{/if}}
    </p>
  {{/if}}
  {{#each (sort-by this.sortBy @items) as |item index|}}
    {{yield
      item
      (get this.panels index)
      (hash
        showPanel=(fn this.showPanel index) hidePanel=(fn this.hidePanel index)
      )
    }}
  {{/each}}
</div>