<header class="d-xl-none">
  <div class="row sticky-top">
    <div class="col-md-12 d-flex flex-column px-0">
      <nav class="navbar navbar-expand-md bg-white shadow py-md-0">
        <div class="container-fluid px-0">
          <LinkTo @route="home" class="navbar-brand ms-3">
            <img src="/assets/images/logo.png" />
            <span class="d-md-none d-lg-inline-block">NetrunnerDB</span>
          </LinkTo>
          <button
            class="navbar-toggler me-2"
            type="button"
            {{on "click" this.toggleDropdown}}
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <BsCollapse
            @collapsed={{not this.showDropdown}}
            class="navbar-collapse d-md-flex"
          >
            <div class="navbar-nav flex-grow-1 pe-md-4">
              <form id="card-search-bar" class="form-inline w-100 my-3 my-md-0">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control p-relative py-3"
                    placeholder="Search for cards..."
                    aria-label="Card search"
                    aria-describedby="basic-addon1"
                  />
                </div>
              </form>
            </div>
            <ul class="nav navbar-nav me-auto pb-2 pb-md-0">
              <li class="nav-item dropdown">
                <BsDropdown as |dd|>
                  <dd.toggle class="nav-link button-link px-2 p-md-3">Home
                    <span class="caret"></span></dd.toggle>
                  <dd.menu style="min-width: 100%" as |ddm|>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="home.dotw"
                        {{on "click" this.closeDropdown}}
                      >Decklist of the Week</ddm.linkTo>
                    </ddm.item>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="home.decklists"
                        {{on "click" this.closeDropdown}}
                      >Browse Decklists</ddm.linkTo>
                    </ddm.item>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="home.community"
                        {{on "click" this.closeDropdown}}
                      >Community Feed</ddm.linkTo>
                    </ddm.item>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="home.sets"
                        {{on "click" this.closeDropdown}}
                      >Card Sets</ddm.linkTo>
                    </ddm.item>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="home.formats"
                        {{on "click" this.closeDropdown}}
                      >Play Formats</ddm.linkTo>
                    </ddm.item>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="home.banlists"
                        {{on "click" this.closeDropdown}}
                      >Banlists</ddm.linkTo>
                    </ddm.item>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="home.updates"
                        {{on "click" this.closeDropdown}}
                      >Updates</ddm.linkTo>
                    </ddm.item>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="home.developer"
                        {{on "click" this.closeDropdown}}
                      >Developer Tools</ddm.linkTo>
                    </ddm.item>
                  </dd.menu>
                </BsDropdown>
              </li>
              <li class="nav-item dropdown">
                <BsDropdown as |dd|>
                  <dd.toggle class="nav-link button-link px-2 p-md-3">Search
                    <span class="caret"></span></dd.toggle>
                  <dd.menu style="min-width: 100%" as |ddm|>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="page.advanced-search"
                        {{on "click" this.closeDropdown}}
                      >Advanced Search</ddm.linkTo>
                    </ddm.item>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="page.syntax"
                        {{on "click" this.closeDropdown}}
                      >Search Syntax</ddm.linkTo>
                    </ddm.item>
                    <ddm.item>
                      <ddm.linkTo
                        class="nav-link button-link px-2 p-md-3"
                        @route="home.dotw"
                        {{on "click" this.closeDropdown}}
                      >Random Card</ddm.linkTo>
                    </ddm.item>
                  </dd.menu>
                </BsDropdown>
              </li>
              <li class="nav-item ms-md-4 me-md-0">
                <LinkTo
                  class="nav-link button-link px-2 p-md-3 text-center-sm"
                  @route="home.dotw"
                ><FaIcon @icon="user" />
                  <span class="d-md-none">Profile</span></LinkTo>
              </li>
            </ul>
          </BsCollapse>
        </div>
      </nav>
    </div>
  </div>
</header>