<div class="card flex-grow-1" id="nav-main-content">
  <div class="card-header">
    <ul class="nav nav-tabs nav-fill card-header-tabs">
      <li class="nav-item">
        <a
          href="#"
          role="button"
          class="nav-link {{if (eq this.tab 'content-rulings') 'active'}}"
          {{on "click" (fn this.setTab "content-rulings")}}
        >Rulings</a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          role="button"
          class="nav-link {{if (eq this.tab 'content-reviews') 'active'}}"
          {{on "click" (fn this.setTab "content-reviews")}}
        >Reviews</a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          role="button"
          class="nav-link {{if (eq this.tab 'content-forum') 'active'}}"
          {{on "click" (fn this.setTab "content-forum")}}
        >Forum</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    {{! TODO: I feel like this isn't the way to do this, but the Bootstrap tab plugin didn't work }}
    {{#if (eq this.tab "content-rulings")}}
      <div id="content-rulings">
        Put rulings here
      </div>
    {{else if (eq this.tab "content-reviews")}}
      <div id="content-reviews">
        Reviews go here
      </div>
    {{else if (eq this.tab "content-forum")}}
      <div id="content-forum">
        Against all odds, here be a forum
      </div>
    {{/if}}
  </div>
</div>