<div class="card-art-container px-3 pb-1 p-sm-0" style={{this.glare}} {{on "mouseenter" this.mouseEnter}} {{on "mouseleave" this.mouseLeave}} {{on "mousemove" this.mouseMove}}>
  <div class="card-art-frame" style={{this.style}}>
    <img class="card-art" ...attributes>
    <div class="glare"></div>
  </div>
</div>