{{page-title @model.title}}

<div class="container">
  <div class="row">
    <div class="col-6 col-xl-2 d-flex order-xl-0 flex-column my-2">
      {{#let (previous @model @model.cardSet.printings) as |nextPrinting|}}
        {{#if (and nextPrinting (not-eq @model nextPrinting))}}
          <Card::LinkTo
            @printing={{nextPrinting}}
            class="btn btn-light text-decoration-none text-truncate"
          >
            <FaIcon @icon="left-long" />
            {{nextPrinting.title}}
          </Card::LinkTo>
        {{/if}}
      {{/let}}
    </div>
    <div class="col-6 col-xl-2 d-flex order-xl-2 flex-column my-2">
      {{#let (next @model @model.cardSet.printings) as |prevPrinting|}}
        {{#if (and prevPrinting (not-eq @model prevPrinting))}}
          <Card::LinkTo
            @printing={{prevPrinting}}
            class="btn btn-light text-decoration-none text-truncate"
          >
            {{prevPrinting.title}}
            <FaIcon @icon="right-long" />
          </Card::LinkTo>
        {{/if}}
      {{/let}}
    </div>

    <div class="col-xl-8 d-flex order-xl-1 flex-column my-2">
      <Card::FullDisplay @printing={{@model}} />
    </div>

    <div class="col-12 d-flex order-xl-3 flex-column my-2">
      <Card::Community @card={{@model.card}} />
    </div>
  </div>
</div>
