{{page-title @model.printing.title}}

<div class="container">
  <div class="row">
    <div class="col-6 col-xl-2 d-flex order-xl-0 flex-column my-2">
      {{#let (previous @model.printing @model.printing.cardSet.printings) as |nextPrinting|}}
        {{#if (and nextPrinting (not-eq @model.printing nextPrinting))}}
          <Card::LinkTo
            @printing={{nextPrinting}}
            class="btn btn-light text-decoration-none text-truncate"
          >
            <FaIcon @icon="left-long" />
            {{nextPrinting.title}}
          </Card::LinkTo>
        {{/if}}
      {{/let}}
    </div>
    <div class="col-6 col-xl-2 d-flex order-xl-2 flex-column my-2">
      {{#let (next @model.printing @model.printing.cardSet.printings) as |prevPrinting|}}
        {{#if (and prevPrinting (not-eq @model.printing prevPrinting))}}
          <Card::LinkTo
            @printing={{prevPrinting}}
            class="btn btn-light text-decoration-none text-truncate"
          >
            {{prevPrinting.title}}
            <FaIcon @icon="right-long" />
          </Card::LinkTo>
        {{/if}}
      {{/let}}
    </div>

    <div class="col-xl-8 d-flex order-xl-1 flex-column my-2">
      <Card::FullDisplay @faction={{@model.faction}} @cardSet={{@model.cardSet}} @cardType={{@model.cardType}} @printing={{@model.printing}} @otherPrintings={{@model.otherPrintings}} @eternalSnapshot={{@model.eternalSnapshot}} @standardSnapshot={{@model.standardSnapshot}} @startupSnapshot={{@model.startupSnapshot}} />
    </div>

    <div class="col-12 d-flex order-xl-3 flex-column my-2">
      <Card::Community @card={{@model.card}} @rulings={{@model.rulings}}/>
    </div>
  </div>
</div>
