{{page-title @model.cycle.name }}

<div class="container">
  <div class="row">
    <div
      class="col-12 col-xl-8 offset-xl-2 d-flex flex-row flex-sm-column my-2"
    >
      <div class="card border-0 flex-grow-1" id="nav-main-content">
        <div
          class="card-body d-flex flex-column flex-lg-row justify-content-between"
        >

          <div class="container" id="banlists">
            {{! add cycle icon here and link to cycle as well }}
            <h1>Cycle: {{ @model.cycle.name }}</h1>
            <p></p>
            <table class="table-striped">
              <thead>
                <th>Position</th>
                <th>Title</th>
                <th>Faction</th>
                <th>Attributes</th>
                <th>Type: Subtypes</th>
              </thead>
              <tbody>
              {{#each (sort-by "id:asc" @model.printings) as |printing|}}
                <tr>
                  <td><Icon @id={{@model.cycle.id }} />{{ printing.cardSet.name }} {{ printing.position }}</td>
                  <td>
                      <Card::LinkTo @printing={{ printing }}>{{printing.title}}</Card::LinkTo>
                  </td>
                  <td><Icon @id="{{ printing.factionId }}" /><Card::InfluencePips @printing={{ printing }} /></td>
                  <td><Card::Stats @printing={{printing}} /></td>
                  <td><b>{{printing.cardType.name}}</b>{{#if printing.displaySubtypes }}: {{ printing.displaySubtypes }}{{/if}}</td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
