{{page-title @model.cycle.name }}

<div class="container">
  <div class="row">
    <div
      class="col-12 d-flex flex-row flex-sm-column my-2"
    >
      <div class="card border-0 flex-grow-1" id="nav-main-content">
        <div
          class="card-body d-flex flex-column flex-lg-row justify-content-between"
        >

          <div class="container" id="cycle-card-list">
            <h1>Cycle: <Icon @icon="{{ @model.cycle.id }}" />{{ @model.cycle.name }}</h1>
            <CardLists @printings={{@model.printings}} @set={{@model.set}} @display="{{this.display}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
