{{page-title "Factions"}}

<div class="container">
  <div class="row">
    <div
      class="col-12 col-xl-8 offset-xl-2 d-flex flex-row flex-sm-column my-2"
    >
      <div class="card border-0 flex-grow-1" id="nav-main-content">
        <div
          class="card-body d-flex flex-column flex-lg-row justify-content-between"
        >

          <div class="container" id="banlists">
            <h1>Factions</h1>
            <div>
              <p>Each side in Netrunner (Corp and Runner) has a number of
                factions. Identities of each faction are limited in deckbuilding
                based on their faction and the faction of cards included in
                their decks.</p>
              <p>There are 4 Corp factions and 3 main Runner factions.</p>
              <div class="row">
                <div class="col">
                  <h2>Corp Factions</h2>
                  <ul class="list-unstyled">
                    {{#each @model.corp as |faction|}}
                      <li>
                        <LinkTo @route="page.faction" @model={{faction.id}}>
                          <Icon @icon={{faction.id}} />
                          {{faction.name}}
                        </LinkTo>
                      </li>
                    {{/each}}
                  </ul>
                </div>
                <div class="col">
                  <h2>Runner Factions</h2>
                  <ul class="list-unstyled">
                    {{#each @model.runnerMain as |faction|}}
                      <li>
                        <LinkTo @route="page.faction" @model={{faction.id}}>
                          <Icon @icon={{faction.id}} />
                          {{faction.name}}
                        </LinkTo>
                      </li>
                    {{/each}}
                  </ul>
                  <h3 class="mt-3">Mini Factions</h3>
                  <ul class="list-unstyled">
                    {{#each @model.runnerMini as |faction|}}
                      <li>
                        <LinkTo @route="page.faction" @model={{faction.id}}>
                          <Icon @icon={{faction.id}} />
                          {{faction.name}}
                        </LinkTo>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
