{{page-title "Illustrators"}}

<div class="container">
  <div class="row">
    <div
      class="col-12 col-xl-8 offset-xl-2 d-flex flex-row flex-sm-column my-2"
    >
      <div class="card border-0 flex-grow-1" id="nav-main-content">
        <div
          class="card-body d-flex flex-column flex-lg-row justify-content-between"
        >
          <div class="container">
            <div class="row">
              <h1>Illustrators</h1>
              <p>The world of Netrunner has been brought to life by a wide
                selection of amazing artists! This page lists all artists whose
                work has appeared on cards and which cards they illustrated.</p>
            </div>
            <div class="row">
              <Ui::Accordion
                @showSearch="true"
                @showSort="true"
                @items={{@model}}
                @query={{this.search}}
                as |Panel illustrator|
              >
                <Panel>
                  <:title>{{illustrator.name}}</:title>
                  <:subtitle>
                    {{illustrator.numPrintings}} card{{if (not-eq illustrator.numPrintings 1) 's' }}
                  </:subtitle>
                  <:body>
                      <div class="row">
                        {{#each (sort-by "title" illustrator.printings) as |printing|}}
                          <div class="col-3 p-2">
                            <Card::LinkTo @printing={{printing}} @hideTooltip="true">
                              <Card::Image @printing={{printing}} @size="large" />
                            </Card::LinkTo>
                          </div>
                        {{/each}}
                      </div>
                  </:body>
                </Panel>
              </Ui::Accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
