{{page-title "Sets"}}

<div class="container">
  <div class="row">
    <div
      class="col-12 col-xl-8 offset-xl-2 d-flex flex-row flex-sm-column my-2"
    >
      <div class="card border-0 flex-grow-1" id="nav-main-content">
        <div
          class="card-body d-flex flex-column flex-lg-row justify-content-between"
        >

          <div class="container" id="banlists">
            <h1>Cycles &amp; Sets</h1>
            <p></p>
            {{! TODO: when the API represents which sets were printed by which org, split these into two lists based on that }}
            <ul class="list-unstyled">
              {{#each (sort-by "dateRelease:desc" @model) as |cycle|}}
                <li>
                  <div class="row">
                    <div class="col-6 text-truncate">
                      <Icon @id="{{ cycle.id }}" />
                      <LinkTo @route="page.cycle" @model="{{ cycle.id }}">{{cycle.name}}</LinkTo>
                    </div>
                    <div class="col-2">
                      {{cycle.cardCount}}
                    </div>
                    <div class="col-4">
                      {{format-date cycle.dateRelease}}
                    </div>
                  </div>
                  <ul class="list-unstyled">
                    {{#if (gt cycle.cardSets.length 0)}}
                      {{#each
                        (sort-by "dateRelease:desc" cycle.cardSets)
                        as |set|
                      }}
                        <li class="ps-2">
                          <div class="row">
                            <div class="col-6 text-truncate">
                              <Icon @id="subroutine" />
                              <LinkTo @route="page.set" @model="{{ set.id }}">{{set.name}}</LinkTo>
                            </div>
                            <div class="col-2">
                              {{set.size}}
                            </div>
                            <div class="col-4">
                              {{format-date set.dateRelease}}
                            </div>
                          </div>
                        </li>
                      {{/each}}
                    {{/if}}
                  </ul>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
