{{page-title @model.decklist.name}}

<main class="pb-4">

  <Navbar />

  {{! HEADER - Custom rather than TitleBox }}
  <div class="decklist-banner">
    <div class="container">
      <div class="decklist-banner-data d-flex">
        <div class="mt-auto">
          <h1><Icon @icon="shaper" /><b>{{@model.decklist.name}}</b></h1>
          <div>
            <span class="decklist-banner-stat">
              By
              <LinkTo @route="home">{{@model.decklist.userId}}</LinkTo>
            </span>
            <span class="decklist-banner-stat ms-4">
              15 Dec. 2023
            </span>
            <span class="decklist-banner-stat ms-4">
              <FaIcon @icon="heart" @prefix="far" />
              25
            </span>
            <span class="decklist-banner-stat ms-4">
              <FaIcon @icon="star" @prefix="far" />
              12
            </span>
            <span class="decklist-banner-stat ms-4">
              <FaIcon @icon="comment" @prefix="far" />
              6
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{! BODY }}
  <div class="container">

    {{! WARNING }}
    {{#unless @model.decklist.followsBasicDeckbuildingRules}}
      <div class="warning-box mt-4">
        This decklist is not legal for tournament play currently, due to Card
        Errata, Rotation or Legality.
      </div>
    {{/unless}}

    {{! BUTTONS }}
    <div class="row mt-4">
      <div class="col-6">
        <LinkTo @route="home" class="button">Decklist</LinkTo>
        <LinkTo @route="home" class="button">Sets</LinkTo>
        <LinkTo @route="home" class="button">Info</LinkTo>
        <LinkTo @route="home" class="button">Actions</LinkTo>
      </div>
      <div class="col-6 text-end">
        <LinkTo @route="home" class="button">
          <FaIcon @icon="file-code" @prefix="far" />
        </LinkTo>
        <LinkTo @route="home" class="button">
          <FaIcon @icon="arrow-down-to-bracket" />
        </LinkTo>
        <LinkTo @route="home" class="button">
          <FaIcon @icon="code-compare" />
        </LinkTo>
        <LinkTo @route="home" class="button">
          <FaIcon @icon="arrow-up-arrow-down" />
          Sort
        </LinkTo>
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn button"
            {{on "click" this.displayWriteUp}}
          >
            <FaIcon @icon="bars-sort" />
          </button>
          <button
            type="button"
            class="btn button"
            {{on "click" this.displayList}}
          >
            <FaIcon @icon="table-list" @prefix="far" @flip="horizontal" />
          </button>
          <button
            type="button"
            class="btn button"
            {{on "click" this.displayImages}}
          >
            <FaIcon @icon="layer-group" @prefix="far" />
          </button>
        </div>
      </div>
    </div>

    {{! DECKLIST BOX }}
    <div class="row">
      <div class="col-6">
        <DecklistBox @decklist={{@model.decklist}} />
        {{#if (eq this.displayType "writeup")}}
          <div class="row mt-4 ms-4">
            {{#each @model.cardsByCategory as |col|}}
              <div class="col-6">
                {{#each col as |category|}}
                  {{#if category.cards}}
                    <p class="font-size-18">
                      <Icon @icon={{category.cardTypeId}} />
                      {{category.name}}
                      ({{category.count}})
                    </p>
                    <ul class="list-unstyled secondary mt-2">
                      {{#each category.cards as |card|}}
                        <li>
                          {{this.quantity card.id}}x
                          <Card::LinkTo @printing={{card.printing}}>
                            {{card.title}}
                            {{#if
                              (and
                                (gt card.influenceCost 0)
                                (not-eq
                                  card.factionId @model.decklist.factionId
                                )
                              )
                            }}
                              {{! TODO: Alliance cards and neutral IDs }}
                              <Card::InfluencePips
                                @factionId={{card.factionId}}
                                @count={{card.influenceCost}}
                                @hideEmpty="true"
                                @repeat={{this.quantity card.id}}
                              />
                            {{/if}}
                          </Card::LinkTo>
                        </li>
                      {{/each}}
                    </ul>
                  {{/if}}
                {{/each}}
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>

      <div class="col-6 position-relative">
        <div
          class="decklist-description
            {{if (not-eq this.displayType 'writeup') 'truncated'}}"
        >
          <h2>{{@model.decklist.name}}</h2>
          <div>
            {{this.displayHtml @model.decklist.notes}}
          </div>
        </div>
        {{#if
          (and
            (not-eq this.displayType "writeup")
            (gt @model.decklist.notes.length 200)
          )
        }}
          <button
            class="position-absolute px-2"
            style="bottom:0;right:0"
            {{on "click" this.displayWriteUp}}
          >
            Read more
          </button>
        {{/if}}
      </div>
    </div>

    {{! DESCRIPTION }}
    {{! <div class="row mt-4">
      <div class="decklist-description">
        <h1 class="font-size-24">Throw Another Deer on the Barbie!</h1>
        <div class="user-content">
          <p>
            I've never really published a deck before and I have no idea what I
            am doing with markdown but I actually think I have something here so
            here goes nothing... Over my long Netrunner career I don't think
            I've ever felt like I've made a deck that was truely good. This deck
            though... This might actually be good? Honestly I'm not sure but
            it's definitely cool. I haven't played a lot of games with this yet
            but it's been surprisingly versatile and has a lot of outs you
            wouldn't expect.
          </p>
          <h2>Origin Story:</h2>
          <p>
            I was screwing around trying to make Orca work and ended up
            including a Mind's Eye because that seems like a good thing to have
            in an Orca deck. My big dumb whale got trashed and I was in the this
            odd game state where I could use Padma to farm counters and try to
            still win on RnD even though I was locked out. I didn't end up
            winning that game but it gave me a golden idea. How could we
            capitalise on that game state? I started thinking about the old
            Geist and Hayley decks that used Gbahali and Kongamato to break ice
            and I realised that a lot of the tools in the current card pool lend
            themselves to that kind of shell. Then I decided to make my idea
            worse by putting it in a pet ID that only has 12 influence!
          </p>
        </div>
      </div>
    </div> }}

    {{! CARDS }}
    {{#if (eq this.displayType "list")}}
      <Card::List @printings={{@model.printings}} />
    {{else if (eq this.displayType "images")}}
      {{#each @model.cardTypes as |type|}}
        {{#let (get @model.cardsByType type.id) as |cards|}}
          {{#if cards}}
            <h3 class="mt-4 font-size-20">
              <Icon @icon="{{type.id}}" />
              {{type.name}}
              ({{get @model.countsByType type.id}})
            </h3>
            <div class="row row-cols-8 g-3">
              {{#each cards as |card|}}
                <div class="col">
                  <Card::LinkTo @id={{card.latestPrintingId}}>
                    <div class="decklist-card">
                      <img src="{{card.printing.images.nrdb_classic.large}}" />
                      {{#if (gt (get @model.decklist.cardSlots card.id) 1)}}
                        <img src="{{card.printing.images.nrdb_classic.tiny}}" />
                      {{/if}}
                      {{#if (gt (get @model.decklist.cardSlots card.id) 2)}}
                        <img src="{{card.printing.images.nrdb_classic.tiny}}" />
                      {{/if}}
                    </div>
                  </Card::LinkTo>
                </div>
              {{/each}}
            </div>
          {{/if}}
        {{/let}}
      {{/each}}
    {{/if}}
  </div>

</main>