{{page-title "Search"}}

<main class="pb-4">

  <Navbar />

  <div class="container">
    {{! BUTTON - Refine search }}
    {{! DISPLAY - Showing X Results }}
  </div>

  <div class="container">
    {{#if @model.printings.length}}
      <table class="table font-size-14">
        <thead>
          <tr>
            {{! <th scope="col">Qty.</th> }}
            <th scope="col">Name</th>
            <th scope="col">Influence</th>
            <th scope="col">Faction</th>
            <th scope="col">Type</th>
            <th scope="col">Subtypes</th>
            <th scope="col">Cost</th>
            <th scope="col">...</th>
            <th scope="col">Set</th>
          </tr>
        </thead>
        <tbody>
          {{#each @model.printings as |printing|}}
            <tr>
              {{! <td>1</td> }}
              <td>{{printing.title}}</td>
              <td>
                {{#if printing.influenceCost}}
                  {{printing.influenceCost}}
                  <span class="influence-pips {{printing.faction.id}}">
                    {{if (gt printing.influenceCost 0) "●" "○"}}{{if
                      (gt printing.influenceCost 1)
                      "●"
                      "○"
                    }}{{if (gt printing.influenceCost 2) "●" "○"}}{{if
                      (gt printing.influenceCost 3)
                      "●"
                      "○"
                    }}{{if (gt printing.influenceCost 4) "●" "○"}}
                  </span>
                {{/if}}
              </td>
              <td>
                <Icon @icon={{printing.faction.id}} />
                {{printing.faction.name}}
              </td>
              <td>
                <Icon @icon={{printing.cardType.id}} />
                {{printing.cardType.name}}
              </td>
              <td>{{printing.displaySubtypes}}</td>
              <td>
                {{#if printing.cost}}
                  {{printing.cost}}
                {{else if printing.advancementRequirement}}
                  {{printing.advancementRequirement}}
                {{/if}}
              </td>
              <td>
                {{#if printing.memoryCost}}
                  {{printing.memoryCost}}
                {{else if printing.trashCost}}
                  {{printing.trashCost}}
                {{else if printing.agendaPoints}}
                  {{printing.agendaPoints}}
                {{/if}}
              </td>
              <td>{{printing.cardSetName}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <div class="col-12 d-flex flex-row flex-sm-column my-2">
        <div class="card border-0 flex-grow-1">
          <div
            class="card-body d-flex flex-column flex-lg-row justify-content-between"
          >
            <div class="container" id="cycle-card-list">
              <h1>Search Results</h1>
              <CardLists
                @printings={{@model.printings}}
                @display="{{this.display}}"
              />
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</main>