{{page-title @model.cardSet.name}}

<main class="pb-4">

  <Navbar />

  <Titlebar
    @title="Set"
    @subtitle={{@model.cardSet.name}}
    @icon={{@model.cardSet.cardCycleId}}
  >
    {{#if @model.prevSet}}
      <LinkTo
        @model={{@model.prevSet.id}}
        class="button round position-absolute end-0"
        style="top: 0; transform: translateY(-40%)"
      >
        <FaIcon @icon="arrow-left-long" />
        {{@model.prevSet.name}}
      </LinkTo>
    {{/if}}
    {{#if @model.nextSet}}
      <LinkTo
        @model={{@model.nextSet.id}}
        class="button round position-absolute end-0"
        style="bottom: 0; transform: translateY(40%)"
      >
        {{@model.nextSet.name}}
        <FaIcon @icon="arrow-right-long" />
      </LinkTo>
    {{/if}}
  </Titlebar>

  <div class="container">
    <Card::List @printings={{sort-by "position" @model.cardSet.printings}} />
  </div>

</main>